body {
  font-family: "楷体";
  color: blue;
}

#li1{
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    font-family: '黑体';
}

#li2{
    background-color: #9999cc;
    letter-spacing: 1px;
}

#li3{
    font-size: 18px;
    color: red;
}

#li4{
    color: #0000cc;
    background-color: #c0c0c0;
    font-family: '隶书';
}


