.head {
  background-color: lightgray;
  display: flex;
  width: 80%;
  margin: auto;
  height: 50px;
}

.head_left {
  width: 40%;
  display: flex;
}

.location {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.head_left div svg {
  width: 20px;
  color: red;
}

.head_right {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: end;
  translate: 0 25%;
}

.login a {
  color: gray;
  text-decoration: none;
}

.login a:hover {
  color: red;
  text-decoration: none;
}

.regedit a {
  color: red;
  text-decoration: none;
}

.my_order {
  color: gray;
  text-decoration: none;
}

.my_order:hover {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.function_Area {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.function_Area .left img {
  width: 300px;
}

.function_Area .right {
  width: 300px;
}

.function_Area .middle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_square {
  width: 500px;
  border: solid 2px red;
  height: 25px;
  outline: medium;
}

.search_btn {
  background-color: red;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 3px red;
  cursor: pointer;
}

.search_btn svg {
  color: white;
  height: 25px;
}

.search_hot {
  width: 500px;
  translate: -25px 0;
}

.search_hot a {
  color: gray;
  text-decoration: none;
}

.search_hot a:hover {
  color: red;
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
}

.main .left {
  width: 30%;
  height: 700px;
  margin-right: 5px;
}

.main .left img {
  width: 100%;
}

.main .right{
    margin-left: 5px;
}

.main .right .title{
    font-size: 28px;
    font-weight: bold;
}

.main .right .introduction{
    font-size: 20px;
}

.main .right .price{
    color: gray;
}

.main .right .price_red{
    color: red;
    font-size: 24px;
}

.main .right .locate{
    color: gray;
}

.num{
    display: flex;
    flex-direction: row;
}

.buy{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.buy .buy_car{
    width: 200px;
    height: 50px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    cursor: pointer;
}

.buy .buy_btn{
    width: 200px;
    height: 50px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    cursor: pointer;
}

.footer {
  background-color: lightgray;
  width: 80%;
  margin: auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
